/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  background-color: #fff;
  color: #FFFFFF;
}

main {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
}

/* Global */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  padding: 1rem;
  background-color: #54819C;
  height: 90px;
  z-index: 1;
}

nav {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 30px;
  right: 30px;
}

.logo {
  max-height: 60px;
  width: auto;
  position: fixed;
  top: 10px;
  left: 10px;
}

nav a {
  color: #231E52;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
}

nav a:hover {
  color: #D1C22D;
}

.social-bar {
  position: fixed;
  align-items: right;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.social-bar p {
  font-weight: 400;
  font-size: 20pt;
  border: none;
  width: auto;
}

.social-bar a {
  color: #81BBBC;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-bar a img {
  max-width: 50px;
  height: auto;
}

/* Home Page */
#home {
  background: url('images/background.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home h1 {
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}

/* About Page */
.about {
  margin: 30px auto;
  padding: 20px;
  background-color: #231E52;
  border-radius: 10px;
  width: 80vw;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.about p {
  color: #fff;
}

.grid-container {
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  grid-gap: 20px;
  width: 100vw;
}

.grid-item {
  background-color: transparent; /* Background color for grid items */
  padding: 20px; /* Padding for grid items */
  color: #231E52;
}

.officer-profile {
  display: flex;
}

.image img {
  width: 200px; /* Width of the image */
  height: 200px; /* Height of the image */
  background-color: #ccc; /* Background color for the image */
  margin-right: 20px; /* Spacing between image and details */
}

.details {
  flex: 1; /* Take remaining space */
}

h2, p {
  margin: 0; /* Remove default margin */
}

/* Membership Page */
.container.membership {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center;
  padding: 2rem;
}

.membership h1 {
  color: #231E52;
  margin-bottom: 2rem;
  width: 40vw;
}

.membership p {
  font-size: 1.5rem;
  color: #231E52;
  margin-bottom: 2rem;
  width: 50vw;
  border: 2px solid #231E52;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

button {
  background-color: #54819C;
  color: #fff;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 0 #D1C22D;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 4rem;
}

button:hover {
  background-color: #81BBBC;
  box-shadow: 3px 3px #D1C22D;
  transform: translate(2px, 2px);
}

/* Merchandise Page */
.merch-container {
  display: grid;
  padding-left: 40px;
  padding-right: 40px;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  grid-gap: 60px;
  width: 70vw;
}

@me
